* {
    margin: 0;
    padding:0;
    text-align: center;
}
h1 {
    color:red;
    background-color: black;
    height: 5rem;
    line-height: 5rem;

}
.choice{
    width:165px;
    height:165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items:center ;
     margin-right: 20px;

    
}
img {
    height:150px;
    width:150px;   
    border-radius:50%; 
    object-fit: cover;
}
.choices {
    display:flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;

}
.choice:hover {
 /*background-color: black;*/
 opacity: 0.5;
}
.scoreboard {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}
 #user-score,#comp-score {
    font-size: 4rem;
 }
 #result {
    background-color: rgb(23, 16, 16);
    color:white;
    font-size:3rem;
    display:inline;
    padding: 1rem;
    border-radius: 2rem;
 }
 .msg-container {
    margin-top: 2rem;
 } 